.basket {
  padding: 105px 0 160px;
  .auto__container {
    max-width: 1856px;
  }
  &__inner {
    &-content {
      margin-bottom: 100px;
    }
    &-foot {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      max-width: 1440px;
      margin: 0 auto;
    }
    &-total {
      color: var(--main);
      h3 {
        margin-bottom: 10px;
      }
    }
  }
  &Item {
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 15px;
    background-color: #f4f4f4;
    border-radius: 50px;
    &:last-child {
      margin: 0;
    }
    &__side {
      width: calc(52% - 20px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 895px;
      &:last-child {
        max-width: 760px;
        width: calc(48% - 20px);
        align-items: flex-end;
      }
    }
    &__image {
      width: calc(55% - 10px);
      max-width: 374px;
      border-radius: 50px;
      overflow: hidden;
      &-inner {
        padding-bottom: 65%;
        position: relative;
        img {
          position: absolute;
          top: 0;
          left: 0;
          @include fullImage;
        }
      }
    }
    &__content {
      width: calc(45% - 10px);
      color: var(--main);
      max-width: 360px;
      h3 {
        margin-bottom: 12px;
      }
      h5 {
        color: var(--gray);
      }
    }
    &__number {
      width: calc(48% - 8px);
      max-width: 350px;
    }
    &__buttons {
      width: calc(52% - 8px);
      max-width: 380px;
    }
  }
}
// 1180px
@mixin basket-xlg-xxlg {
  .basket {
    padding: 80px 0 120px;
    &__inner {
      &-content {
        margin-bottom: 70px;
      }
    }
    &Item {
      border-radius: 30px;
      margin-bottom: 35px;
      &__side {
        width: calc(55% - 20px);
        &:last-child {
          width: calc(45% - 20px);
        }
      }
      &__buttons {
        .button {
          min-width: unset;
        }
      }
      &__image {
        border-radius: 30px;
      }
    }
  }
}
// 930px
@mixin basket-md-lg {
  .basket {
    padding: 60px 0 90px;
    &__inner {
      &-content {
        margin-bottom: 40px;
      }
    }
    &Item {
      margin-bottom: 30px;
      padding: 24px;
      flex-direction: column;
      &__side {
        width: 100% !important;
        max-width: unset !important;
        margin-bottom: 24px;
        &:last-child {
          margin: 0;
        }
      }
      &__image {
        border-radius: 20px;
        max-width: 300px;
      }
      &__content {
        h3 {
          margin-bottom: 12px;
        }
      }
      &__buttons {
        width: calc(45% - 10px);
        max-width: 360px;
      }
    }
  }
}
// 750px
@mixin basket-sm-md {
  .basket {
    padding: 60px 0;
    &Item {
      flex-direction: column;
      padding: 24px 20px;
      &__image {
        width: calc(45% - 15px);
        max-width: 250px;
      }
      &__content {
        width: calc(55% - 15px);
        max-width: 300px;
        text-align: end;
      }
      &__buttons {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
// 540px
@mixin basket-xsm-sm {
  .basket {
    padding: 60px 0 20px;
    &__inner {
      &-content {
        margin-bottom: 30px;
      }
      &-foot {
        flex-direction: column;
        align-items: center;
        .button {
          width: 100%;
          max-width: 210px;
        }
      }
      &-total {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        h5 {
          font-size: 23px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    &Item {
      border-radius: 20px;
      margin-bottom: 20px;
      &__side {
        flex-direction: column;
      }
      &__image {
        width: 100%;
        max-width: unset;
        margin: 0 0 20px 0;
      }
      &__content {
        width: 100%;
        max-width: unset;
        text-align: center;
        h3 {
          font-size: 23px;
        }
        h5 {
          font-size: 20px;
        }
      }
      &__number {
        width: 100%;
        max-width: unset;
        margin: 0 0 20px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
          text-align: center;
        }
      }
      &__buttons {
        width: 100%;
        max-width: unset;
        justify-content: center;
        .button {
          width: 100%;
          max-width: 210px;
        }
      }
    }
  }
}
