.about {
  padding: 52px 0 190px;
  &.sm {
    padding: 52px 0 238px;
  }
  &.rev {
    padding: 225px 0 238px;
    .about {
      &Content {
        padding: 0 0 0 40px;
      }
    }
  }
  .auto__container {
    max-width: 1920px;
    padding: 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &Image {
    width: calc(50% - 25px);
    max-width: 867px;
    &__inner {
      padding-bottom: 67%;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
  }
  &Content {
    width: calc(50% - 25px);
    padding-right: 40px;
    max-width: 867px;
    &__inner {
      max-width: 707px;
    }
    h2 {
      margin-bottom: 16px;
      max-width: 550px;
    }
    p {
      margin-bottom: 24px;
    }
  }
}
// 1600px
@mixin about-xxxxxlg-xxxxxxlg {
  .about {
    padding: 50px 0 160px;
    &.sm {
      padding: 50px 0 200px;
    }
    &.rev {
      padding: 200px 0;
    }
  }
}
// 1380px
@mixin about-xxxlg-xxxxlg {
  .about {
    &.sm {
      padding: 40px 0 160px;
    }
    &.rev {
      padding: 160px 0;
    }
  }
}
// 1180px
@mixin about-xlg-xxlg {
  .about {
    padding: 40px 0 120px;
    &.sm {
      padding: 40px 0 120px;
    }
    &.rev {
      padding: 120px 0;
      .aboutContent {
        padding-left: 30px;
      }
    }
    &Image {
      width: calc(50% - 15px);
    }
    &Content {
      width: calc(50% - 15px);
      padding-right: 30px;
    }
  }
}
// 930px
@mixin about-md-lg {
  .about {
    padding: 40px 0 80px;
    &.sm {
      padding: 30px 0 80px;
    }
    &.rev {
      padding: 80px 0;
    }
    &__inner {
      flex-direction: column;
    }
    &Image {
      width: 100%;
      max-width: unset;
      margin-bottom: 30px;
      order: -1;
    }
    &Content {
      width: 100%;
      padding: 0 30px;
      max-width: unset;
      &__inner {
        max-width: unset;
      }
    }
  }
}
// 750px
@mixin about-sm-md {
  .about {
    padding: 40px 0 60px;
    &.sm {
      padding: 30px 0 60px;
    }
    &.rev {
      padding: 60px 0;
      .aboutContent {
        padding: 0 20px;
      }
    }
    &Content {
      padding: 0 20px;
    }
  }
}
// 540px
@mixin about-xsm-sm {
  .about {
    padding: 40px 0;
    &.sm {
      padding: 20px 0 40px;
    }
    &.rev {
      padding: 40px 0;
    }
    &Image {
      margin-bottom: 24px;
    }
    &Content {
      p {
        margin-bottom: 18px;
      }
      .button {
        width: 100%;
        max-width: 210px;
      }
    }
  }
}
