.hero {
  position: relative;
  color: var(--white);
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 64.8%);
      opacity: 0.6;
    }
    img {
      @include fullImage;
    }
  }
  &__inner {
    min-height: calc(100vh - 113px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-title {
      max-width: 850px;
      text-align: center;
      margin-bottom: 20px;
    }
    &-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 27px 50px;
      position: relative;
      max-width: 655px;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        border-radius: 68px;
        border: 1px solid var(--white);
        backdrop-filter: blur(40px);
        background-color: rgba(#000, 0.2);
        pointer-events: none;
      }
    }
    .button {
      margin-right: 15px;
      position: relative;
      &:last-child {
        margin: 0;
      }
      &.base {
        color: var(--white);
      }
    }
  }
}
// 1600px
@mixin hero-xxxxxlg-xxxxxxlg {
  .hero {
    &__inner {
      &-buttons {
        padding: 20px 40px;
      }
    }
  }
}
// 1450px
@mixin hero-xxxxlg-xxxxxlg {
  .hero {
  }
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
  .hero {
    &__inner {
      min-height: calc(100vh - 75px);
      &-buttons {
        padding: 16px 30px;
      }
    }
  }
}
// 1250px
@mixin hero-xlg-xxlg-extra {
  .hero {
  }
}
// 1180px
@mixin hero-xlg-xxlg {
  .hero {
  }
}
// 1024px
@mixin hero-lg-xlg {
  .hero {
  }
}
// 930px
@mixin hero-md-lg {
  .hero {
    &__inner {
      min-height: calc(100vh - 58px);
      &-buttons {
        padding: 15px 20px;
      }
    }
  }
}
// 750px
@mixin hero-sm-md {
  .hero {
  }
}
// 650px
@mixin hero-sm-md-extra {
  .hero {
  }
}
// 540px
@mixin hero-xsm-sm {
  .hero {
    &__bg {
      &::before {
        background: var(--black);
        opacity: 0.4;
      }
    }
    &__inner {
      min-height: calc(100vh - 44px);
      &-title {
        margin-bottom: 24px;
      }
      &-buttons {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        &::before {
          border-radius: 20px;
          display: none;
        }
        .button {
          width: 100%;
          max-width: 210px;
          margin: 0 0 15px 0;
        }
      }
    }
  }
}
// 440px
@mixin hero-xxsm-xsm {
  .hero {
  }
}
.advert {
  background-color: var(--primary);
  color: var(--white);
  &__inner {
    padding: 39px 0;
    height: 113px;
    display: flex;
    align-items: center;
    &-slider {
      width: 100%;
    }
    .slick {
      &-list {
        overflow: visible !important;
      }
      &-track {
        display: flex !important;
      }
      &-slide {
        height: unset !important;
        margin-right: 26px;
      }
    }
    .swiper {
      &-slide {
        display: flex !important;
        width: unset !important;
        pointer-events: none;
      }
    }
  }
  &Item {
    white-space: nowrap;
    padding-right: 26px;
    span {
      margin-right: 26px;
    }
    h4 {
      line-height: 100%;
      font-weight: 600;
    }
  }
}
// 1380px
@mixin advert-xxxlg-xxxxlg {
  .advert {
    &__inner {
      padding: 25px 0;
      height: 75px;
    }
    &Item {
      padding-right: 16px;
      h4 {
        span {
          margin-right: 16px;
        }
      }
    }
  }
}
// 930px
@mixin advert-md-lg {
  .advert {
    &__inner {
      padding: 20px 0;
      height: 58px;
    }
    &Item {
      padding-right: 12px;
      h4 {
        span {
          margin-right: 12px;
        }
      }
    }
  }
}
// 540px
@mixin advert-xsm-sm {
  .advert {
    &__inner {
      padding: 15px 0;
      height: 44px;
    }
    &Item {
      padding-right: 10px;
      h4 {
        span {
          margin-right: 10px;
        }
      }
    }
  }
}
.application {
  padding-top: 98px;
  background-color: var(--main);
  color: var(--white);
  margin-bottom: -1px;
  &.base {
    padding: 125px 0 160px;
    margin: 0;
    color: var(--gray);
    background-color: transparent;
    .auto__container {
      max-width: 1630px;
    }
    h2 {
      color: var(--main);
    }
    .application {
      &Form {
        background-color: #f5f5f5;
        .input {
          input,
          textarea {
            background-color: rgba($color: #989898, $alpha: 0.14);
            color: var(--main);
            &::placeholder {
              color: var(--gray);
            }
          }
        }
        .button {
          color: var(--main);
        }
      }
      &Content {
        max-width: 560px;
        &__links {
          a {
            color: var(--gray);
            &:hover {
              color: var(--primary);
            }
            span {
              color: var(--primary);
            }
          }
        }
        .social {
          a {
            color: var(--primary);
            &:hover {
              color: var(--main);
            }
          }
        }
      }
    }
  }
  .auto__container {
    max-width: 1760px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &Form {
    background-color: #212121;
    border-radius: 20px;
    padding: 45px 32px;
    width: calc(55% - 25px);
    max-width: 830px;
    &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__foot {
      display: flex;
      justify-content: flex-end;
      padding-top: 34px;
    }
    .button {
      color: var(--white);
    }
    .input {
      width: calc(50% - 10px);
      margin-bottom: 20px;
      &:last-child {
        margin: 0;
      }
      &.big {
        width: 100%;
      }
    }
  }
  &Content {
    width: calc(45% - 25px);
    max-width: 670px;
    &__title {
      max-width: 560px;
      margin-bottom: 35px;
      p {
        color: var(--gray);
      }
    }
    &__links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;
      a {
        display: flex;
        align-items: center;
        font-weight: 300;
        color: var(--white);
        margin-bottom: 16px;
        &:hover {
          opacity: 1;
          color: var(--primary);
        }
        &:last-child {
          margin: 0;
        }
        span {
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          &.sm {
            transform: translateY(-3px);
            svg {
              width: 100%;
              height: 120%;
            }
          }
          &.med {
            svg {
              width: 88%;
              height: 88%;
            }
          }
          svg {
            width: 96%;
            height: 68%;
          }
        }
      }
    }
    h2 {
      color: var(--white);
      margin-bottom: 5px;
    }
  }
}
// 1380px
@mixin application-xxxlg-xxxxlg {
  .application {
    padding-top: 80px;
    &.base {
      padding: 100px 0 120px;
    }
    &Form {
      width: calc(55% - 20px);
    }
    &Content {
      width: calc(45% - 20px);
    }
  }
}
// 1180px
@mixin application-xlg-xxlg {
  .application {
    padding-top: 70px;
    &.base {
      padding: 80px 0 90px;
    }
    &Form {
      width: calc(55% - 15px);
      padding: 35px 24px;
    }
    &Content {
      width: calc(45% - 15px);
    }
  }
}
// 930px
@mixin application-md-lg {
  .application {
    padding-top: 60px;
    &.base {
      padding: 60px 0 70px;
    }
    &__inner {
      flex-direction: column;
    }
    &Form {
      width: 100%;
      max-width: unset;
      padding: 35px 24px;
      margin-bottom: 35px;
    }
    &Content {
      width: 100%;
      max-width: unset;
    }
  }
}
// 540px
@mixin application-xsm-sm {
  .application {
    padding-top: 40px;
    &.base {
      padding: 40px 0;
    }
    &Form {
      border-radius: 16px;
      margin-bottom: 26px;
      padding: 30px 20px;
      &__foot {
        padding-top: 24px;
      }
      .input {
        width: 100%;
        margin-bottom: 15px;
      }
      .button {
        width: 100%;
        max-width: 210px;
        margin: 0 auto;
      }
    }
    &Content {
      &__title {
        margin-bottom: 22px;
      }
      &__links {
        margin-bottom: 30px;
      }
    }
  }
}
