.intro {
  position: relative;
  .auto__container {
    max-width: 1680px;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        180deg,
        #000000 0.45%,
        rgba(0, 0, 0, 0) 33.76%
      );
      opacity: 0.51;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        65.86deg,
        #000000 16.43%,
        rgba(0, 0, 0, 0) 106.16%
      );
    }

    img {
      @include fullImage;
    }
  }
  &__blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 47%;
    height: 100%;
    background-color: rgba(#ffffff, 0.03);
    backdrop-filter: blur(12px);
    opacity: 1;
  }
  &__inner {
    padding: 50px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 396px;
    h1 {
      color: var(--white);
    }
  }
}
// 1380px
@mixin intro-xxxlg-xxxxlg {
  .intro {
    &__inner {
      min-height: 340px;
    }
  }
}
// 1180px
@mixin intro-xlg-xxlg {
  .intro {
    &__blur {
      width: 50%;
    }
  }
}
// 930px
@mixin intro-md-lg {
  .intro {
    &__inner {
      min-height: 270px;
    }
  }
}
// 540px
@mixin intro-xsm-sm {
  .intro {
    &__bg {
      &::before {
        background: #000000;
        opacity: 0.7;
      }
      &::after {
        display: none;
      }
    }
    &__blur {
      width: 100%;
      backdrop-filter: blur(2px);
    }
    &__inner {
      min-height: 230px;
      text-align: center;
      padding: 40px 0;
      justify-content: center;
      align-items: center;
    }
  }
}
